- content_for :extra_javascript do
  :javascript
    // Search filter JS Start
    const $menu = $('.toogleContainer');
    $(document).mouseup(function (e) {
      if (!$menu.is(e.target) // if the target of the click isn't the container...
        &&
        $menu.has(e.target).length === 0) // ... nor a descendant of the container
      {
        $menu.hide();
      }
    });
    $('.toogleFltr').on('click', function (e) {
      $(this).parent().siblings().find('.toogleContainer').hide();
      $(this).next('.toogleContainer').toggle();

    });
    
- maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
- key_param = maps_key ? "&key=#{maps_key}" : ""
- # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
= javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
= javascript_include_tag "markerclusterer.js"
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"

- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"

- content_for :extra_javascript do
  - # maps.google can't be loaded twice
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  - # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) && (main_search != :keyword || @view_type.eql?("map"))
  - if(needs_maps)
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
  - if(@view_type.eql?("map"))
    = javascript_include_tag "markerclusterer.js"

- content_for(:head) do
  - if seo_pagination_links[:prev].present?
    %link{rel: "prev", href: seo_pagination_links[:prev]}
  - if seo_pagination_links[:next].present?
    %link{rel: "next", href: seo_pagination_links[:next]}

- if @current_community.private? && @big_cover_photo
  - if @community_customization && @community_customization.private_community_homepage_content
    = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else
  = render partial: 'landing_page/main_header'

  %section.explore_section.paddingTB90#section
    .container.listings_flex_container
      .row.width-50.main_content
        .do-nicescrol
          .row.panelmrgRt0{id: 'main_div'}
            %div{style: 'margin-right:50px;float:right;', id: 'div_map_icon'}
              %img{src: '/map_icon.jpg', onclick: 'openFullScreenMap();', style: 'width: 80px;' }
            - if @listings.total_entries > 0
              .search-listings{style: 'float:left;'}
                = render partial: "custom_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
              .home-loading-more
                = will_paginate(@listings)
                = pageless(@listings.total_pages, '.search-listings', current_search_path_without_page, t('.loading_more_content'), current_page)
            - else
              .home-no-listings
                - if params[:q] || params[:category] || params[:share_type] # Some filter in use
                  .no_listing_text
                    = t(".no_listings_with_your_search_criteria")
                - else
                  = t(".no_listings_notification", add_listing_link: link_to(t(".add_listing_link_text"), new_listing_path(ref: "add_listing_link"))).html_safe
        #map_div
          - if @listings.total_entries > 0
            .col-md-5.col-xs-12.map-container.paddingLeft0
              .home-map
                = render :partial => "map", locals: { viewport: viewport }

:javascript
  $(document).ready(function() {
    $('.map-container').css('height', '100%');
    $('.home-map').css('height', '100%');
    $('html').css('overflow', 'hidden');
    $('body').css('overflow', 'hidden');
  });
  function openFullScreenMap() {
    $('.map-container').css('height', 'unset');
    $('.home-map').css('height', 'unset');
    $('#map-canvas.map').css('height', '745px')
    $('#map_div').css('display', 'block').css('width', '100%');
    $('#homepage-filters').css('background', '#D3D3D3');
    $('#main_div').prepend($('#map_div'));
    $('#section').css({"position": "fixed","width": "100vw","height": "100vh","overflow": "hidden"});
    $('.search-listings').css('background', '#D3D3D3');
    $('.listings__listing').css('visibility', 'hidden');
    $('svg').css('visibility', 'hidden');
    $('img').css('visibility', 'hidden');
    $('#div_map_icon').css('display', 'none');
    $('.mobile_navbar').css('background', '#D3D3D3').css('box-shadow', 'none');
    $('.mobile_navbar').addClass('navbar_mobile_with_map');
    $('body').css('background', '#D3D3D3');
    $('.close').css('display', 'block');
  }

