- content_for :extra_javascript do
  :javascript
    // Search filter JS Start
    const $menu = $('.toogleContainer');
    $(document).mouseup(function (e) {
      if (!$menu.is(e.target) // if the target of the click isn't the container...
        &&
        $menu.has(e.target).length === 0) // ... nor a descendant of the container
      {
        $menu.hide();
      }
    });
    $('.toogleFltr').on('click', function (e) {
      $(this).parent().siblings().find('.toogleContainer').hide();
      $(this).next('.toogleContainer').toggle();

    });

    // nice Scroll
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;

    $(document).ready(function ($) {
      if (!isMobile) {
        $(".do-nicescrol").niceScroll({
          cursorwidth: 12,
          cursoropacitymin: 1,
          cursorcolor: '#000000',
          background: "#dddddd",
          cursorborder: 'none',
          cursorborderradius: 0,
          autohidemode: 'leave'
        }); // a world full of color!
      }
    });
- maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
- key_param = maps_key ? "&key=#{maps_key}" : ""
- # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
= javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
= javascript_include_tag "markerclusterer.js"
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"

- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"

- content_for :extra_javascript do
  - # maps.google can't be loaded twice
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  - # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) && (main_search != :keyword || @view_type.eql?("map"))
  - if(needs_maps)
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
  - if(@view_type.eql?("map"))
    = javascript_include_tag "markerclusterer.js"

- content_for(:head) do
  - if seo_pagination_links[:prev].present?
    %link{rel: "prev", href: seo_pagination_links[:prev]}
  - if seo_pagination_links[:next].present?
    %link{rel: "next", href: seo_pagination_links[:next]}

- if @current_community.private? && @big_cover_photo
  - if @community_customization && @community_customization.private_community_homepage_content
    = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else
  = render partial: 'landing_page/main_header'

  %section.explore_section.paddingTB90
    .container.listings_flex_container
      .row.width-50
        .do-nicescrol
          .row.panelmrgRt0
            - if @listings.total_entries > 0
              .search-listings
                = render partial: "custom_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
              .home-loading-more
                = will_paginate(@listings)
                = pageless(@listings.total_pages, '.search-listings', current_search_path_without_page, t('.loading_more_content'), current_page)
            - else
              .home-no-listings
                - if params[:q] || params[:category] || params[:share_type] # Some filter in use
                  .no_listing_text
                    = t(".no_listings_with_your_search_criteria")
                - else
                  = t(".no_listings_notification", add_listing_link: link_to(t(".add_listing_link_text"), new_listing_path(ref: "add_listing_link"))).html_safe
      - if @listings.total_entries > 0
        .col-md-5.col-xs-12.map-container.paddingLeft0
          .home-map
            = render :partial => "map", locals: { viewport: viewport }
