- content_for :extra_javascript do
  :javascript
    window.ST.listing();

- content_for :title, raw(@listing.title)
- content_for :meta_author, PersonViewUtils.person_display_name(@listing.author, @current_community)
- content_for :meta_description, StringUtils.first_words(@listing.description, 15)
- content_for :meta_image, @listing.listing_images.first.image.url(:medium) if !@listing.listing_images.empty?
- dimensions = @listing.listing_images.first.get_dimensions_for_style(:medium) if !@listing.listing_images.empty?
- content_for :meta_image_width, dimensions[:width].to_s if !@listing.listing_images.empty?
- content_for :meta_image_height, dimensions[:height].to_s if !@listing.listing_images.empty?
- maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
- key_param = maps_key ? "&key=#{maps_key}" : ""
- # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
= javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
.clearfix
- images = @listing.listing_images
= render partial: 'landing_page/main_header'
- if images.present?
  %section.gallery_section{:style => "margin-top: 70px;"}
    .col-sm-6.no_padding
      .gallery_img_box
        %a.html5lightbox{"data-autoslide" => "true", "data-fullscreenmode" => "true", "data-group" => "mygroup", "data-thumbnail" => "#{images.first.image.url(:grid)}", "data-transition" => "crossfade", :href => "#{images.first.image.url(:grid)}", :title => "image1"}
          %img{:alt => "gallery", :src => "https://natruras-storage.s3.amazonaws.com/images/listing_images/images/1/big/header_img.png?1570694110(6 kB)", class: 'gallery'}/
    .col-sm-6.no_padding.main_img_section
      - images.each_with_index do |img, idx|
        - next if idx == 0
        .col-sm-6.no_padding.width-25
          .gallery_img_box
            %a.html5lightbox{"data-autoslide" => "true", "data-fullscreenmode" => "true", "data-group" => "mygroup", "data-thumbnail" => "#{img.image.url(:grid)}", "data-transition" => "crossfade", :href => "#{img.image.url(:grid)}", :title => "image1"}
              - if images.count > 5 && idx == 4
                .galle_total_counter
                  %span.counter_text
                    = "+#{images.count}"
                    %span View All
              %img{:alt => "gallery", :src => "#{img.image.url(:grid)}"}/
      - if images.count < 5
        - (0...(5 - images.count)).each do |i|
          .gallery_img_box
            %img{src: '/no_image.png', class: 'no_image'}
.clearfix
%section.explore_section
  .container
    .row.profile-main
      .first_part_listing.borderRt
        .row
          .col-md-9.col-xs-12
            %h1.pull-left.trainerHead= @listing.title.titleize
          .col-md-6.col-xs-12
            %ul.listingUserDetail
              %li= @listing.location.address
              %li.listed_by
                Listed by #{PersonViewUtils.person_display_name(@listing.author, @current_community)}
                %span.rating
                  %div{:id => "listing_#{@listing.id}"}
                  %span.count= "(#{@listing_presenter.received_testimonials.size})"
          .col-md-9.col-xs-12.paddingTB20.trainerInfo
            .row
              .col-xs-12
                %h2 About
                = markdown_line_break_to_paragraph(@listing.description)
              - @listing.custom_field_values.each do |custom_field_value|
                - custom_field_value.with_type do |question_type|
                  .col-xs-12.paddingT10
                    = render :partial => "listings/custom_field_partials/#{question_type}", locals: { custom_field_value: custom_field_value }
      .second_part_listing
        .col-xs-12.pricendateContainer
          - if @listing.price
            %h1.pricePd
              %span= MoneyViewUtils.to_humanized(@listing.price)
              - with_quantity_text(@current_community, @listing) do |text|
                = text
          = render :partial => "listing_actions"
          .text-center.btnRequest
            - if @listing.author != @current_user
              = link_to "Message", contact_to_listing_path(:listing_id => @listing.id.to_s), class: "btn btn-primary enabled-book-button"
            %p Seller Usually responds within 24 hours
          .text-center.rtLogo
            = medium_avatar_thumb(@listing.author, {:class => "author_image"})
            %p= PersonViewUtils.person_display_name(@listing.author, @current_community)
          .row
            .col-12
              #googlemap.google_map_show
                = render :partial => "googlemap", :locals => { :listing => @listing}
                = render :partial => "origin", :locals => { :origin_loc => @listing.origin_loc }
