<%
  hero_style_variations = {
      "light" => "hero__section--light",
      "dark" => "hero__section--dark",
      "transparent" => "hero__section"
  }

  hero_style_variations.default = "hero__section--dark"

  section_style_class = hero_style_variations[s["background_image_variation"]]
%>

<% content_for :hero_css do %>
  .<%= section_style_class %> {
  background-image: url('<%= s["background_image"]["src"] %>');
  }

  .hero__search-button,
  .hero__search-button:active,
  .hero__signup-button,
  .hero__signup-button:active
  {
  background-color: rgb(<%= s["search_button_color"]["value"].join(",") %>);
  }

  .hero__search-button:hover,
  .hero__search-button:focus,
  .hero__signup-button:hover,
  .hero__signup-button:focus {
  background-color: rgb(<%= s["search_button_color_hover"]["value"].join(",") %>);
  }
<% end %>
<div>
  <div class="topbar-placeholder">
    <div class="s006">
      <form>
        <fieldset>
          <div class="inner-form">
            <div class="studiotime_logo">
              <img src="landing_page/studiotime_logo.png" />
            </div>
            <div class="input-field">
              <button class="btn-search" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </button>
              <input id="search" type="text" placeholder="Try 'Los Angeles'" value="" />
            </div>
            <div class="top_navbar_text">
              <div class="vertical_align_text"><a href="/listings/new" style="color: black">+ Add your studio</a></div>
              <div class="vertical_align_text"><a href="/signup" style="color: black">Sign up</a></div>
              <div class="vertical_align_text"><a href="/login" style="color: black">Log in</a></div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6 loctaion-headings" style="padding-left: 300px;"><h1 style="font-size:38px; font-weight: bold;">Discover & Book Music Studio</h1></div>
  <div class="col-3"></div>
</div>
<section id="<%= section_id %>" class="<%= section_style_class %>" style=" margin-top: 20px;   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 62%;">
  <div class="hero__content">
    <div class="hero__content-container" style="float: left;
        width: 500px;">
      <h1 class="hero__title" style="color: white"><%= "The largest & most trusted online community to rent music studios." %></h1>
      <button class="" href="/s">
        <a class="info__button--ghost info__contacts_us__4__info__button--ghost" href="/s">Get Started</a>
      </button>
      <% search_mode = s["variation"]["value"] %>
      <% case search_mode %>
      <% when "keyword_search", "location_search", "keyword_and_location_search" %>


      <% when "private" %>

        <a class="hero__signup-button" href="<%= s["signup_path"]["value"] %>"><%= s["signup_button"]["value"] %></a>

      <% end %>
    </div>
  </div>
</section>

