<%
  hero_style_variations = {
      "light" => "hero__section--light",
      "dark" => "hero__section--dark",
      "transparent" => "hero__section"
  }

  hero_style_variations.default = "hero__section--dark"

  section_style_class = hero_style_variations[s["background_image_variation"]]
%>

<% content_for :hero_css do %>
  .<%= section_style_class %> {
  background-image: url('<%= s["background_image"]["src"] %>');
  }

  .hero__search-button,
  .hero__search-button:active,
  .hero__signup-button,
  .hero__signup-button:active
  {
  background-color: rgb(<%= s["search_button_color"]["value"].join(",") %>);
  }

  .hero__search-button:hover,
  .hero__search-button:focus,
  .hero__signup-button:hover,
  .hero__signup-button:focus {
  background-color: rgb(<%= s["search_button_color_hover"]["value"].join(",") %>);
  }
<% end %>
<%= render partial: 'landing_page/main_header' %>
<div class="row landing_margins">
  <h1 style="font-size:38px; font-weight: bold;">Discover & Book Music Studio</h1>
  <section id="<%= section_id %>" class="<%= section_style_class %>" style=" margin-top: 20px;display: block;">
    <div class="hero__content">
      <div class="hero__content-container">
        <h1 class="hero__title" style="color: white"><%= "The largest & most trusted online community to rent music studios." %></h1>
        <button class="" href="/s" style="background: transparent !important; border: none;">
          <a class="info__button--ghost info__contacts_us__4__info__button--ghost" href="/s">Get Started</a>
        </button>
        <% search_mode = s["variation"]["value"] %>
        <% case search_mode %>
        <% when "keyword_search", "location_search", "keyword_and_location_search" %>


        <% when "private" %>

          <a class="hero__signup-button" href="<%= s["signup_path"]["value"] %>"><%= s["signup_button"]["value"] %></a>

        <% end %>
      </div>
    </div>
  </section>
</div>

<script>
  function openMenu() {
    document.getElementById("myLinks").style.width = "100%";
  }

  function closeMenu() {
    document.getElementById("myLinks").style.width = "0%";
  }
</script>