<% bg_styles = background_style_modifiers(s, second_wo_background) %>

<% content_for :listings_css do %>
  <%= render 'landing_page/inline_css', s: s, section_id: section_id %>
<% end %>

<section id="<%= section_id %>" class="landing_margins listings__section listings__section--<%= bg_styles[:section_style_modifier] %>" style="<%= bg_styles[:background_image_style] %> <%= bg_styles[:background_color_style] %>">
  <div class="listings__content">
    <h1 class="listing-headings" style="font-size: 36px;font-weight: 600; margin-bottom: 10px;"><%= s["title"] %></h1>
    <h3 class="listing-headings" style="font-size: 20px;margin-bottom: 30px;"><%= s["small_title"] %></h3>

    <div class="listings__paragraph--markdown">
      <%= render_markdown_array(s["paragraph"]) %>
    </div>

    <div class="mobile_listings">
      <% s["listings"].in_groups_of(1) do |group| %>
        <div class="listings_flex">
          <% group.each do |listing| %>
            <%= render partial: 'landing_page/listing', locals: { listing: listing, section_id: section_id } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="ipad_listings">
      <% s["listings"].in_groups_of(2) do |group| %>
        <div class="listings_flex">
          <% group.each do |listing| %>
            <%= render partial: 'landing_page/listing', locals: { listing: listing, section_id: section_id } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="desktop_listings">
      <% s["listings"].in_groups_of(3) do |group| %>
        <div class="listings_flex">
          <% group.each do |listing| %>
            <%= render partial: 'landing_page/listing', locals: { listing: listing, section_id: section_id } %>
          <% end %>
        </div>
      <% end %>
    </div>

    <a style="float: left;
        font-size: 21px;
        text-decoration: underline;
        text-align: left;
        color: black;" href="/s">See all of the premium verified studios</a>
  </div>
</section>
<%= render partial: 'landing_page/how_works' %>
<div style="color: black; font-size: 30px;" class="landing_margins">As Seen On</div>
  <div class="landing_margins company_logos">
    <img src="landing_page/hyperbeast.png">
    <img src="landing_page/bbc.png">
    <img src="landing_page/product_hunt.png">
    <img src="landing_page/fader.png">
    <img src="landing_page/vice.png" class="vice">
    <img src="landing_page/forbes.png">
  </div>
</div>
