<div class="desktop_navbar">
  <div class="topbar-placeholder">
    <div class="s006">
      <form>
        <fieldset>
          <div class="inner-form">
            <div class="studiotime_logo">
              <a href="/"><img src="/landing_page/studiotime_logo.png" /></a>
            </div>
            <div class="input-field">
              <button class="btn-search" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </button>
              <div class="search-form-input">
                <input id="q" type="text" name="q" value="" placeholder="Try 'Los Angeles'" style="border: 0;
                    background: #fff;
                    display: block;
                    width: 100%;
                    padding: 10px 32px 10px 70px;
                    font-size: 18px;
                    color: #666;
                    border-radius: 3px;
                    height: 70px;
                    color: #555;">
              </div>
              <div class="search-form-input" style="display: none">
                <button class="action-button" id="search-button" type="submit"></button>
              </div>

            </div>
            <div class="top_navbar_text">
              <div class="vertical_align_text"><a href="/listings/new" style="color: black">+ Add your studio</a></div>
              <% if logged_in %>
                <div class="vertical_align_text">
                  <%= link_to 'Messages', person_inbox_path(current_person), style: 'color: black'%>
                </div>
                <div class="header-left header-logo-container">
                  <%= link_to person_path(current_person), :class => "header-logo", :id => "header-logo" do %>
                    <% u = current_person %>
                    <% avatar_url = u.image.present? && !u.image_processing ? u.image.url(:thumb) : "profile_image/thumb/missing.png" %>
                     <%= image_tag avatar_url, alt: '', class: 'header-user-avatar' %>
                  <% end %>
                </div>
              <% else %>
                <div class="vertical_align_text"><a href="/signup" style="color: black">Sign up</a></div>
                <div class="vertical_align_text"><a href="/login" style="color: black">Log in</a></div>
              <% end %>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="mobile_navbar">
  <div><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" href="#menu" onclick="openMenu();"
  width="25" height="25"
  viewBox="0 0 24 24"
  style=" fill:#000000;"><path d="M2 11H22V13H2zM2 5H22V7H2zM2 17H22V19H2z"></path></svg></div>
  <div id="myLinks" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" onclick="closeMenu();">&times;</a>
    <div class="overlay-content">
      <a href="/listings/new">+ Add your studio</a>
      <% if logged_in %>
        <%= link_to 'Messages', person_inbox_path(current_person) %>
        <%= link_to 'Profile', person_path(current_person) %>
      <% else %>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
      <% end %>
    </div>
  </div>
  <div style="padding-top:5px;"><a href="/"><img src="/landing_page/studiotime_logo.png" /></a></div>
  <button class="btn-search" type="button" style="padding-right:20px;padding-top: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
    </svg>
  </button>
  <div class="close" style="display: none;" onclick="closeMap();"></div>
</div>

<script>
  function openMenu() {
    document.getElementById("myLinks").style.width = "100%";
  }

  function closeMenu() {
    document.getElementById("myLinks").style.width = "0%";
  }

  function closeMap() {
    document.location.reload(true);
  }
</script>